@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="~/js/Pages/Vacation/GridDefinition.js"></script>
    <script src="~/js/Pages/Vacation/VacationList.js"></script>
}

<html>
    <h3>Mis Vacaciones</h3>
    <body>
        <div id="myGrid" style="height: 500px"></div>
    </body>
</html>
